<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
    <!-- <link rel="stylesheet" type="text/css" href="a4-navish-jindal\public\style.css"> -->
</head>
<body>
    <header><h1>Welcome to the information app</h1></header>
<ul>
   <li> <a href="grocery" target="_blank" rel="noopener">View Grocery List</a></li>
   <li> <a href="semester" target="_blank" rel="noopener">View Semester Details</a></li>
   <li> <a href="expenses" target="_blank" rel="noopener">View Expenses Details</a></li>
</ul>

<footer>
    <h2>Assignment 4 with EJS and Express Server</h2>
    <h2>Developed by: Navish Jindal (ID: 991760581)</h2>
</footer>

</body>
</html>